@import url(https://fonts.googleapis.com/css?family=Montserrat:regular);
body {
  background-color: #110e0a;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: blue;
  font-family: "Montserrat";
  -webkit-animation: anim 3s ease-in-out infinite 0s;
          animation: anim 3s ease-in-out infinite 0s;
}

@-webkit-keyframes anim {
  0% {
    color: cyan;
  }
  50% {
    color: darkcyan;
  }
  100% {
    color: darkblue;
  }
}

@keyframes anim {
  0% {
    color: cyan;
  }
  50% {
    color: darkcyan;
  }
  100% {
    color: darkblue;
  }
}