 @import url(https://fonts.googleapis.com/css?family=Montserrat:regular);

body {
  background-color: #110e0a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  color: blue;
  font-family: "Montserrat";
  animation: anim 3s ease-in-out infinite 0s;
}


@keyframes anim {
  0% {
   color: cyan;

  }
  50% {
    color: darkcyan;
  }
  100% {
   color: darkblue;
  }

}