 @import url(https://fonts.googleapis.com/css?family=Montserrat:regular);

body {
  background-color: #110e0a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  color: blue;
  font-family: "Montserrat";
}
